.container {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  padding: 5% 100px 0px;
  overflow: hidden;
  width: 100%;
  &.containerWithDocks {
    padding-top: 0px;
    max-width: 1150px;
  }
}

.uploadSectionOverWrap {
  width: 100%;
  height: 100%;
  max-height: 70dvh;
  background-color: var(--main-background-color);
  display: flex;
  flex: 1;
  justify-content: flex-start;
  &.withDocs {
    height: 160px;
    flex: unset;
  }
}

.uploadSectionContainer {
  flex: 1;
  width: 100%;
  border: 2px dashed var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 8px;
  padding: 10px 20px;
  overflow: hidden;
  transition: all 0.2s;
  transform: scale(1);

  &.uploadSectionContainerOvered {
    box-shadow: 0px 0px 24px -3px rgba(var(--white), 0.5);
    transform: scale(1.02);
    background-color: var(--gray-300);
  }

  &.uploadSectionContainerWithDoc {
    overflow: auto;
    position: relative;
    justify-content: flex-start;
    .uploadSectionTitleLabel {
      position: absolute;
      right: 10px;
      top: 10px;
      margin-top: 0;
    }
  }

  .uploadSectionTitle {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }

  .uploadSectionTitleLabel {
    margin-top: 10px;
    color: var(--brand-purple);
    cursor: pointer;
    background: none;
    border: none;
    font-size: 14px;
  }
}

.uploadedFilesSection {
  display: flex;
  flex-direction: column;
  gap: 5px;
  .uploadedFilesSectionTitle {
    font-weight: 600;
  }
  .uploadedFilesList {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .uploadedFilesListItem {
    display: flex;
    flex-direction: row;
    gap: 5px;
    border-bottom: 1px solid var(--gray-500);
    padding-bottom: 15px;
    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
    }
    .uploadedFileItemTitle {
      font-weight: 500;
    }
    .uploadedFilesListItemContentContainer {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}

.chanMessagesScrollContainer {
  display: flex;
  flex-direction: column-reverse;
  width: calc(100% + 25px);
  flex: 1;
  overflow: auto;
  padding-right: 25px;
  margin-right: -25px;
}

.chatMessagesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .messageContainer {
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
  }
  .message {
    align-self: flex-end;
    display: flex;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--white);
    justify-content: flex-end;
  }

  .messageResponse {
    align-self: flex-end;
    display: flex;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: var(--gray-500);
    color: var(--white);
    justify-content: flex-start;
  }
}

.inputContainer {
  width: 100%;
  display: flex;
  padding-bottom: 30px;
  background-color: var(--main-background-color);
  .input {
    width: 100%;
    /* max-width: 700px; */
    font-size: 18px;
  }

  .sendButton {
    margin-right: -5px;
  }
}

.uploadModal {
  width: 420px;
}
